fastapi
uvicorn
PyPDF2
python-multipart
neo4j
sentence-transformers
langchain
langchain-community
langchain-huggingface
faiss-cpu
Pillow
pdf2image
easyocr
PyMuPDF
ollama
qdrant-client 
psycopg2

